header {
  color: white;
  background-color: #555555;
}

main {
  color: white;
  background-color: #333333;
}

li {
  display: inline-block;
  background-color: #cccccc;
  list-style: none;
  padding: 20px;
}

